body {
    text-align: center;
    }

    a:link, a:visited {
        text-decoration: none;
        color: inherit;
    }

    .title {
        font-family: 'Raleway';
        color: #0D2C40;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 45px;
        text-transform: uppercase;
    }

    .menu {
        font-family: 'Raleway';
        color: #F15B31;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }

    .heading {
        font-family: 'Raleway';
        color: #0D2C40;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }

    .details {
        font-family: 'Droid Serif';
        line-height: 26px;
        font-size: 18px;
    } 
